@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LeagueSpartan";
  src: url("../assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
}
